<h3 class="mt-3">See the Status of Locality</h3>
<div class="d-flex justify-content-center align-items-center flex-column search-fields">
  <app-input type="date" name="dateControl" [control]="dateControl"></app-input>
</div>
<ng-container *ngIf="!isLoading">
  <div class="mt-3">
    <canvas baseChart
            [data]="chartData"
            [options]="chartOptions"
            [labels]="chartLabels"
            [chartType]="chartType"
            [colors]="donutColors"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="total-participants mt-5">
    <h4 class="text-center">
      Total Participants: {{areaResult?.areaResult.totalParticipation}}
    </h4>
  </div>
  <div class="progress-bars mb-5">

    <p><ngb-progressbar type="danger" [value]="areaResult?.areaResultStat.unwellWithSymptomsPercent"></ngb-progressbar></p>
    <p><ngb-progressbar type="info" [value]="areaResult?.areaResultStat.unwellWithoutSymptomsPercent"></ngb-progressbar></p>
    <p><ngb-progressbar type="success" [value]="areaResult?.areaResultStat.wellPercent"></ngb-progressbar></p>
    <p><ngb-progressbar type="warning" [value]="100"></ngb-progressbar></p>
  </div>

</ng-container>
<div *ngIf="isLoading" class="w-100 mt-5 d-flex justify-content-center align-items-center">
  <fa-icon icon="spinner" size="4x"></fa-icon>
</div>
